<%= render 'navbar' %>

<div class="page-name">
  <h3>My Watch List</h3>
</div>


<div class="cards">
  <% @lists.each do |list| %>
    <a href="<%= list_path(list) %>" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg); text-decoration: none;">
      <%= list.name %>
    </a>
  <% end %>
</div>

<%# This code is by using the carrierwave gem %>
<%# <div class="cards">
  <% @lists.each do |list| %>
    <%# <a href="<%= list_path(list) %>" class="card-category" style="text-decoration: none;">
      <%# <%= image_tag list.image.url , alt: list.name %>
        <%# <h2><%= list.name</h2> %>
    <%# </a>
  <% end %>
<%# </div> %>
